<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageUser.username %>'s WatchList</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= pageUser.username %>'s WatchList</h1>
    <ul>
        <% pageUser.watchlist.forEach((movie) => { %>
            <% if(movie.posterPath === undefined) { %>
                <img src="https://i.imgur.com/UHOnknf.png" width="250" height="375"/><br>
            <% } else { %>
                <img src="https://image.tmdb.org/t/p/w500<%= movie.posterPath %>" width="250" height="375"/>
            <% } %>
            <li><%= movie.name %></li>
        <% }) %>
    </ul>
</body>
</html>